@{
    ViewBag.Title = "Product Create";
}


@model Product

<div class="w-50 mx-auto mt-5">
    <div class="panel panel-default">
        <div class="panel-heading mb-3">
            <strong>
                <span>Add New Product</span>
            </strong>
        </div>
        <form asp-controller="Product" asp-action="Create" method="post">
            <div class="panel-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input asp-for="ProductName" class="form-control" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
           
                            <select asp-for="CategoryID" class="form-control" asp-items="@ViewBag.Categories">
                                <option value="">Select category</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <input asp-for="Quantity" class="form-control" placeholder="Quantity">
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <input asp-for="BuyingPrice" class="form-control" placeholder="Buying Price">
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <input asp-for="SellingPrice" class="form-control" placeholder="Selling Price">
                        </div>
                    </div>
                </div>
              
                <button type="submit" class="btn btn-primary mt-4 w-100 mb-5">Add Product</button>


            </div>
        </form>

    </div>
</div>