@{
    ViewBag.Title = "Product Create";
}


@model Product

<div class="w-50 mx-auto mt-5">
    <div class="panel panel-default">
        <div class="panel-heading mb-3">
            <strong>
                <span>Add New Product</span>
            </strong>
            <a asp-controller="Product" asp-action="Index" class="float-end">All Products</a>
        </div>
        <form asp-controller="Product" asp-action="Create" method="post">
            <div class="panel-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ProductName">Product Name</label>
                            <input asp-for="ProductName" class="form-control">
                            <span class="text-danger" asp-validation-for="ProductName"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CategoryID">Select Category</label>
                            <select asp-for="CategoryID" class="form-control" asp-items="@ViewBag.Categories">
                                <option value="">Select category</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <label asp-for="Quantity">Quantity</label>
                            <input asp-for="Quantity" class="form-control">
                            <span class="text-danger" asp-validation-for="Quantity"></span>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <label asp-for="BuyingPrice">Buying Price</label>
                            <input asp-for="BuyingPrice" class="form-control" >
                            <span class="text-danger" asp-validation-for="BuyingPrice"></span>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="form-group">
                            <label asp-for="SellingPrice">Selling price</label>
                            <input asp-for="SellingPrice" class="form-control">
                            <span class="text-danger" asp-validation-for="SellingPrice"></span>
                        </div>
                    </div>
                </div>
              
                <button type="submit" class="btn btn-primary mt-4 w-100 mb-5">Add Product</button>


            </div>
        </form>

    </div>
</div>