
.panel-heading {
    background-color: #f3f3f3;
    padding:10px 10px 10px 10px;
}

.panel {
    border: 1px solid #f3f3f3;
}

.panel-body{
    padding:15px;
    background-color:white;
}
.panel-container{
    padding:20px;
}

.product-container{
    margin:50px 200px 0px 200px;
}
.product-table-container{
    padding: 20px;
    margin:20px;
}
.input-group-addon {
    background-color: #fcfcfc;
    border: 1px solid #dbdbdb;
    border-radius: 0;
}