
@{
    ViewBag.Title = "Sale";
}
@model Sale

<div class="row">

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading clearfix">
                <strong class="p-2">
                    <span>Add Sale</span>
                </strong>
                <a asp-controller="Sale" asp-action="Index" class="float-end"> All Sales</a>
               @*  <div class="pull-right">
                    <a href="sales.php" class="btn btn-primary">Show all sales</a>
                </div >*@
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <th> Category </th>
                        <th> Product Name </th>
                        <th style="width:12%"> Selling Price </th>
                        <th style="width:12%">Available </th>
                        <th style="width:12%"> Quantity </th>
                        <th style="width:12%"> Total </th>
                        <th style="width:12%"> Date</th>
                        <th style="width:10%"> Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <form asp-controller="Sale" asp-action="AddSale" method="post">
                            <td>
                                 <select id="lstCategory" asp-for="CategoryID" class="form-control" asp-items="@ViewBag.Categories">
                                    <option value="">Select category</option>
                                  </select>
                            
                            </td>
                            <td>
                               <select id="lstProduct" asp-for="ProductID" class="form-control" asp-items="@ViewBag.Products">
                                    <option value="">Select product</option>
                               </select>
                            </td>
                            <td>
                                <input id="sPrice" type="text" class="form-control" disabled value="--" />
                            </td>

                            <td>
                                <input id="aQuantity" type="text" class="form-control" disabled value="--" />
                            </td>
                            <td>
                                <input id="sQuantity" asp-for="Quantity" class="form-control" />
                            </td>
                            <td>
                                <input id="sTotal" type="text" class="form-control" disabled value="0.00" />
                            </td>
                            <td>
                                <input asp-for="SaleDate" class="form-control" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Add Sale</button>
                            </td>
                            </form>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () 
    {
        $('#lstCategory').change(function () {

            $('#sPrice').val("--")
            var selectedCategory = $('#lstCategory').val();
    

            var productsSelect = $('#lstProduct');
            productsSelect.empty();

            if (selectedCategory != null) {
                $.getJSON('@Url.Action("GetProducts")', { categoryID: selectedCategory }, function (products) {

                    if (products !== null) {
                        productsSelect.append($('<option/>', {
                            value: null,
                            text: "Select Product"
                        }));

                        $.each(products, function (index, product) {
                           // console.log(product)
                            productsSelect.append($('<option/>', {
                                value: product.value,
                                text: product.text
                            }));
                        });
                    }
                });
            }
        });

        var getProduct;

        $('#lstProduct').change(function () {

            var selectedCategory = $('#lstCategory').val();
            var selectedProduct = $('#lstProduct').val()
           


            if (selectedCategory != "" && selectedProduct != "" ) {
                $.getJSON('@Url.Action("GetSelectedProducts")', { categoryID: selectedCategory, productID: selectedProduct }, function (filterProduct) {

                    getProduct = filterProduct
                    if (filterProduct !== null) {
                       
             
                        console.log(filterProduct.product.sellingPrice)
                        $('#sPrice').val(filterProduct.product.sellingPrice)
                        $('#aQuantity').val(filterProduct.quantity)

                       
                    }
                });
            }

        })

        $('#sQuantity').change(function(){
           // alert("changed")
            var quantity = $('#sQuantity').val();
            console.log(quantity)
            $('#sTotal').val(getProduct.product.sellingPrice * quantity)
        })


    });
</script>